.light {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
    }

    .light a:visited {
    color: #000000;
    }

    .light a {
    color: #000000;
    }

    .light .input {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #393e4f;
    }

    .light .textarea {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #393e4f;
    }

    .light .title {
    color: #000000;
    }

    .light .container {
    background-color: #ffffff;
    }

    .light .mensagem {
    color: #000000;
    }

    .light .label {
    color: #000000;
    }

    .light .labelPesquisa {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #393e4f;
    }

    .light .button {
    background-color: blue;
    color: #f7f7f7;
    }

    .light .inputPes {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #393e4f;
    }

    .light .even {
    background-color: #d4d4d4;
    }

    .light .odd {
    background-color: #ffffff;
    }
