body {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  padding-top: 30px;
  font-family: Arial, sans-serif;
}

#bodyCad {
  overflow: hidden;
}

h2 {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.container {
  position: relative;
  width: 600px;
  margin: 0 auto 10px auto;
  padding: 10px;
  border-radius: 15px;
}

#btn_tema {
  position: absolute;
  top: 10px;
  left: 10px;
}

.P {
  margin: 5px;
}

#labels {
  width: 800px;
  height: 500px;
}

.labels {
  width: 800px;
  display: flex;
}

.mensagem {
  text-align: center;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

.label {
  text-align: left;
  margin-top: 10px;
}

.labelPesquisa {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  margin-top: 70px;
}

.input {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}

.textarea {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  resize: vertical;
}

.button-container {
  margin-top: 10px;
  text-align: right;
}

.inline-form {
  display: inline-block;
  margin-right: 10px; /* Espaçamento entre os formulários */
}

.bcP {
  text-align: left;
}

.button {
  width: 150px;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.inputPes {
  width: 110px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}

#formP {
  display: flex;
  align-items: center;
}

#btn_pesquisar {
  background-color: #080161;
  width: 200px;
  height: 50px;
  margin-right: 0px;
}

#btn_listar{
  background-color: #080161;
  margin-right: 10px;
  position: absolute;
  top: 10px;
  left: 460px;
}

#btn_editar{
    background-color: #e0b700;
    color: black;
    margin-left: auto;
}

#btn_salvar {
  background-color: #0f8100;
  margin-left: auto;
}

#btn_excluir {
  background-color: #680000;
}

#nomeP {
  width: 400px;
}

#tellP {
  width: 400px;
}

#carroP {
  width: 400px;
}

#placaP {
  width: 400px;
}

.IDP {
  width: 60px;
}

#teste {
  margin-left: -30px;
}

#infoP {
  width: 780px;
  height: 300px;
}

td{
  width: 200px;
}

#divList {
  width: 800px;
}

.selct{
    width: 100px;
    margin-right: 0px;
}

.table{
    border-radius: 10px;
    border-collapse: collapse;
}

th:first-child {
  border-top-left-radius: 20px;
}

th:last-child {
  border-top-right-radius: 20px;
}

td:first-child {
  border-bottom-left-radius: 20px;
}

td:last-child {
  border-bottom-right-radius: 20px;
}

.selct:hover {
  background-color: red;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    max-width: 350px;
  }

  #bodyPeq {
    overflow-x: hidden;
  }

  body {
    padding-top: 10px;
  }

  .input {
    max-width: 350px;
  }

  .labels {
    flex-direction: column;
    max-width: 350px;
  }

  .button{
    width: 90px;
  }

  #labels {
    height: 590px;
  }
  #bodyCad {
    overflow-y: auto;
  }

  #btn_tema{
    width: 50px;
    top: 0px;
    left: 0px;
    padding: 5px 0;
  }

  #btn_editarr{
    margin:0;
    width: 0;
  }

  #btn_listar{
    width: 50px;
    top: 0px;
    left: 310px;
    padding: 5px 0;
  }

  .table th:nth-child(1),
  .table td:nth-child(1),
  .table th:nth-child(4),
  .table td:nth-child(4),
  .table th:nth-child(6),
  .table td:nth-child(6) {
    display: none;
  }

botaoMOBILE{
	display: flex;
 flex-direction: column;
}

  h1 {
    font-size: 20px;
  }

}
