<!DOCTYPE html>
<html>
    <head>
        <title>Pesquisa</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + tema + '.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="{{tema}}">
        <h1>Tabela de ocorrencias</h1>
            <div class="container" id="divList">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PLACA</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Carro</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr class="{% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                              <td>{{ cliente.id }}</td>
                              <td><a href="{{ url_for('link', placa=cliente.placa) }}">{{cliente.placa.upper()}}</a></td>
                              <td>{{ cliente.nome}}</td>
                              <td>{{ cliente.tell }}</td>
                              <td>{{ cliente.carro }}</td>
                              <td>{{ cliente.data }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </body>
</html>
